{% extends 'base.html.twig' %}

{% block title %}Détails{% endblock %}

{% block body %}
    <div class="container">
        <h1>Sujet : {{ thread.subject }}</h1>
        {% for message in messages %}
            <div class="col">
                <div class="card border-success mb-3">
                    <div class="card-header">Détails :</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ message.subject }}</h4>
                        <p>{{ message.createdAt | date('d/m/Y') }} à {{ message.createdAt | date('H:i:s') }} </p>
                        <p class="card-text">{{ message.email }}</p>
                        <p class="card-text">{{ message.text }}</p>
{#                        <a href="{{path('commentaires', {id: message.id})}}" class="btn btn-primary">Voir les commentaires</a>#}
                    </div>
                </div>
            </div>
        {% endfor %}

    {{ form_start(formCommentaire) }}
    {{ form_widget(formCommentaire) }}
<button class ="btn btn-success">Poster</button>
    {{ form_end(formCommentaire) }}
    </div>
{% endblock %}